mat-toolbar {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: lightblue;
    padding: 9px 64px 0px;
    font-size: small;
    color: rgb(42, 40, 40);
   
}

