<mat-toolbar color="accent">
    <span>
        <a routerLink="/">
            <img src="../../../assets/miracle logo.png" alt="logo" width="200" height="65" />
        </a>
    </span>
    <span>
        <!-- <a routerLinkActive="active-link" routerLink="/posts">
            <span>Posts</span>
        </a>
        <a routerLinkActive="active-Link" routerLink="/login">
            <span>Login</span>
        </a> -->
        <a routerLinkActive="active-Link" routerLink="/signup">
            <span>Signup</span>
        </a>
    </span>
</mat-toolbar>